# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true&connect_timeout=15"

# Direct connection to the database. Used for migrations
DIRECT_URL=""
